# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.klib
*.DS_Store

# Paths
.kotlin/
kotlin-js-store/
.gradle/
build/
.idea/*
.idea/artifacts/*
.idea/deploymentTargetSelector.xml


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.idea/deploymentTargetSelector.xml
users_db
users_db-shm
users_db-wal
users_db.lck
subscriptions_db
subscriptions_db-shm
subscriptions_db-wal
subscriptions_db.lck
server/schemas/com.rvcoding.imhere.data.internal.db.SubscriptionsDatabase/1.json
session_db
session_db-shm
session_db-wal
session_db.lck
